nav{
    background-color: black;
    text-align: right;
    padding: 5px;
}
header{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}
img{
    height: 200px;
    width: 100px;
}
h2 {
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}